<!--?xml version="1.0" encoding="UTF-8"?-->
<configuration>
  <system.web>
    <customerrors mode="Off"></customerrors>
  </system.web>
  <system.webserver>
    <urlcompression dostaticcompression="true" dodynamiccompression="false"></urlcompression>
    <caching enabled="true" enablekernelcache="true">
    <profiles>
        <add extension=".gif" policy="DontCache" kernelcachepolicy="CacheUntilChange" duration="0.00:01:00" location="Any"></add>
        <add extension=".png" policy="DontCache" kernelcachepolicy="CacheUntilChange" duration="0.00:01:00" location="Any"></add>
        <add extension=".js" policy="DontCache" kernelcachepolicy="CacheUntilChange" duration="0.00:01:00" location="Any"></add>
        <add extension=".css" policy="DontCache" kernelcachepolicy="CacheUntilChange" duration="0.00:01:00" location="Any"></add>
        <add extension=".jpg" policy="DontCache" kernelcachepolicy="CacheUntilChange" duration="0.00:01:00" location="Any"></add>
        <add extension=".jpeg" policy="DontCache" kernelcachepolicy="CacheUntilChange" duration="0.00:01:00" location="Any"></add>
	<add extension=".svg" policy="DontCache" kernelcachepolicy="CacheUntilChange" duration="0.00:01:00" location="Any"></add>
      </profiles>
    </caching>
    <staticcontent>
      <remove fileextension=".js"></remove>
      <mimemap fileextension=".js" mimetype="text/javascript"></mimemap>
      <remove fileExtension=".svg"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />

      <clientcache cachecontrolmode="UseMaxAge" cachecontrolmaxage="30.00:00:00"></clientcache>
    </staticcontent>
    <modules>
      <clear></clear>
      <add name="HttpCacheModule" lockitem="false"></add>
      <add name="StaticCompressionModule" lockitem="false"></add>
      <add name="HttpRedirectionModule" lockitem="false"></add>
      <add name="StaticFileModule" lockitem="false"></add>
      <add name="AnonymousAuthenticationModule" lockitem="false"></add>
      <add name="CustomErrorModule" lockitem="false"></add>
      <add name="IsapiModule" lockitem="false"></add>
      <add name="ProtocolSupportModule" lockitem="false"></add>
      
    </modules>
        <httperrors errormode="Detailed"></httperrors>
        <httpprotocol>
            <customheaders>
                <remove name="Vary"></remove>
                <add name="Vary" value="Accept-Encoding"></add>
            </customheaders>
        </httpprotocol>
	<defaultDocument enabled="true">
         <files>
            <add value="index.html" />
         </files>
      </defaultDocument>
  </system.webserver>
</configuration>
