<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
      <staticContent>
         <remove fileExtension=".svg"/>
	 <remove fileExtension=".otf"/>
   	 <remove fileExtension=".woff"/>
         <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
	 <mimeMap fileExtension=".otf" mimeType="font/opentype" />
	 <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
      </staticContent>
  </system.webServer>
</configuration>