.svg-icon {
  background-image: url('/img/svg-sprite.svg');
  background-repeat: no-repeat;
}

.svg-analyze {
  background-position: 57.4468085106383% 0;
  width: 450px;
  height: 450px;
}

.svg-arrow {
  background-position: 98.44533600802407% 17.88805539526832%;
  width: 7px;
  height: 10px;
}

.svg-blockchain {
  background-position: 24.705221785513757% 100%;
  width: 220px;
  height: 220px;
}

.svg-blockchain-color {
  background-position: 62.324536777091524% 84.89822718319107%;
  width: 220px;
  height: 220px;
}

.svg-connect {
  background-position: 86.46034816247582% 0;
  width: 450px;
  height: 450px;
}

.svg-deploy {
  background-position: 0 82.98530549110596%;
  width: 450px;
  height: 450px;
}

.svg-download-firmware {
  background-position: 94.71179270227393% 12.995049504950495%;
  width: 110px;
  height: 127px;
}

.svg-download-libraries {
  background-position: 94.71179270227393% 36.57178217821782%;
  width: 110px;
  height: 127px;
}

.svg-download-more {
  background-position: 94.66173361522199% 28.712871287128714%;
  width: 109px;
  height: 127px;
}

.svg-download-server {
  background-position: 94.71179270227393% 20.853960396039604%;
  width: 110px;
  height: 127px;
}

.svg-email {
  background-position: 95.41050484446711% 53.90487375220199%;
  width: 40px;
  height: 40px;
}

.svg-google-groups {
  background-position: 97.4502804691484% 53.90487375220199%;
  width: 40px;
  height: 40px;
}

.svg-google-plus {
  background-position: 99.49005609382968% 53.90487375220199%;
  width: 40px;
  height: 40px;
}

.svg-healthcare {
  background-position: 49.971925884334645% 70.45305318450427%;
  width: 220px;
  height: 220px;
}

.svg-ico-analysis {
  background-position: 99.94739610731195% 28.241022519780888%;
  width: 100px;
  height: 100px;
}

.svg-ico-arrow-down {
  background-position: 97.07218576476527% 17.91907514450867%;
  width: 20px;
  height: 13px;
}

.svg-ico-back {
  background-position: 96.05861546235472% 17.95020266357846%;
  width: 22px;
  height: 16px;
}

.svg-ico-close {
  background-position: 98.08177688036345% 17.91907514450867%;
  width: 20px;
  height: 13px;
}

.svg-ico-commercial {
  background-position: 91.79907739620707% 51.269935026580036%;
  width: 50px;
  height: 50px;
}

.svg-ico-consulting {
  background-position: 99.48744233726295% 48.316597755463675%;
  width: 50px;
  height: 50px;
}

.svg-ico-device {
  background-position: 96.92465402357766% 48.316597755463675%;
  width: 50px;
  height: 50px;
}

.svg-ico-end {
  background-position: 94.36186570989236% 48.316597755463675%;
  width: 50px;
  height: 50px;
}

.svg-ico-evaluation {
  background-position: 100% 12.781497261107729%;
  width: 100px;
  height: 100px;
}

.svg-ico-evalution {
  background-position: 94.31352459016394% 51.11896348645465%;
  width: 49px;
  height: 45px;
}

.svg-ico-execution {
  background-position: 100% 35.97078514911747%;
  width: 100px;
  height: 100px;
}

.svg-ico-fixed {
  background-position: 91.79907739620707% 48.316597755463675%;
  width: 50px;
  height: 50px;
}

.svg-ico-line {
  background-position: 0 0;
  width: 891px;
  height: 623px;
}

.svg-ico-planning {
  background-position: 99.47396107311941% 43.700547778454045%;
  width: 100px;
  height: 100px;
}

.svg-ico-support {
  background-position: 100% 20.511259890444308%;
  width: 100px;
  height: 100px;
}

.svg-industrial {
  background-position: 74.6771476698484% 84.89822718319107%;
  width: 220px;
  height: 220px;
}

.svg-industrial-color {
  background-position: 87.02975856260528% 84.89822718319107%;
  width: 220px;
  height: 220px;
}

.svg-insurance {
  background-position: 0 100%;
  width: 220px;
  height: 220px;
}

.svg-insurance-color {
  background-position: 12.352610892756879% 100%;
  width: 220px;
  height: 220px;
}

.svg-integrate {
  background-position: 0 48.182521268368134%;
  width: 450px;
  height: 450px;
}

.svg-linkedin {
  background-position: 93.37072921978583% 53.90487375220199%;
  width: 40px;
  height: 40px;
}

.svg-logistics {
  background-position: 50.533408197641776% 55.35128036769534%;
  width: 220px;
  height: 220px;
}

.svg-logistics-color {
  background-position: 87.02975856260528% 70.45305318450427%;
  width: 220px;
  height: 220px;
}

.svg-medium {
  background-position: 96.37939826619072% 50.96887844979448%;
  width: 40px;
  height: 40px;
}

.svg-open-source {
  background-position: 29.013539651837526% 48.182521268368134%;
  width: 450px;
  height: 450px;
}

.svg-preloader {
  background-position: 94.21357180431352% 43.700547778454045%;
  width: 100px;
  height: 100px;
}

.svg-retail {
  background-position: 49.971925884334645% 84.89822718319107%;
  width: 220px;
  height: 220px;
}

.svg-retail-color {
  background-position: 37.61931499157777% 84.89822718319107%;
  width: 220px;
  height: 220px;
}

.svg-scale {
  background-position: 86.46034816247582% 34.80278422273782%;
  width: 450px;
  height: 450px;
}

.svg-slack {
  background-position: 98.419173890872% 50.96887844979448%;
  width: 40px;
  height: 40px;
}

.svg-smart-cities {
  background-position: 25.266704098820888% 84.89822718319107%;
  width: 220px;
  height: 220px;
}

.svg-smart-cities-color {
  background-position: 62.886019090398655% 40.90610636900853%;
  width: 220px;
  height: 220px;
}

.svg-telecom {
  background-position: 74.6771476698484% 70.45305318450427%;
  width: 220px;
  height: 220px;
}

.svg-telecom-color {
  background-position: 62.324536777091524% 70.45305318450427%;
  width: 220px;
  height: 220px;
}

.svg-travel {
  background-position: 37.61931499157777% 70.45305318450427%;
  width: 220px;
  height: 220px;
}

.svg-twitter {
  background-position: 91.33095359510453% 56.25366999412801%;
  width: 40px;
  height: 40px;
}

.svg-utilities {
  background-position: 25.266704098820888% 70.45305318450427%;
  width: 220px;
  height: 220px;
}

.svg-wearables {
  background-position: 62.886019090398655% 55.35128036769534%;
  width: 220px;
  height: 220px;
}

.svg-wearables-color {
  background-position: 50.533408197641776% 40.90610636900853%;
  width: 220px;
  height: 220px;
}

.svg-youtube {
  background-position: 91.33095359510453% 53.90487375220199%;
  width: 40px;
  height: 40px;
}


@include responsive($tablet) {
  .svg-scale {
    background-position: 72.02680067001675% 99.34768427919113%;
    width: 210px;
    height: 210px;
  }

  .svg-open-source {
    background-position: 60.301507537688444% 99.34768427919113%;
    width: 210px;
    height: 210px;
  }

  .svg-integrate {
    background-position: 36.85092127303182% 99.34768427919113%;
    width: 210px;
    height: 210px;
  }

  .svg-deploy {
    background-position: 48.57621440536013% 99.34768427919113%;
    width: 210px;
    height: 210px;
  }

  .svg-connect {
    background-position: 100% 0;
    width: 210px;
    height: 210px;
  }

  .svg-analyze {
    background-position: 83.75209380234506% 99.34768427919113%;
    width: 210px;
    height: 210px;
  }
}


