{{ define "main" }}

<div class="light-page services-page">
    <div class="preloader"></div>
    {{ partial "header" . }}

    <div class="light-page_body all-services-page" id="container">
        <div id="mobileTab"></div>
        <div class="services-content">
            <h1 class="light-page_h1">
                {{ .Title }}
            </h1>

            DeviceHive is developed and commercially supported by a global technology consulting company <a class="track-link" href="https://dataart.com/iot" target="_blank">DataArt</a>.
            DataArt’s extensive IoT expertise and industry knowledge allows us building and implementing state-of-art solutions to scale businesses,
            reduce expenses, and manage data.

            <div class="tabs services-container">
                <div class="tab">
                    <div class="tab__btn">
                        <h2 class="tab__heading">
                            <span class="svg-icon svg-ico-end"></span>
                            End-to-End IoT Solutions
                            <span class="tab__btn__icon svg-icon svg-ico-arrow-down"></span>
                        </h2>
                    </div>
                    <div class="tab__content">
                        <div class="mobile-heading">
                            <a href="" class="back-arrow">
                                <div class="svg-icon svg-ico-back"></div>
                            </a>
                            <div>
                                End-to-End IoT Solutions
                            </div>
                        </div>
                        <div class="unordered-list iot-solutions">
                            <div class="svg-icon svg-ico-line"></div>
                            <div class="analysis solution-item">
                                <div class="hexagon">
                                    <div class="svg-icon svg-ico-analysis"></div>
                                </div>
                                <h3>Analysis</h3>
                                <ul>
                                    <li>Business goal & objectives</li>
                                    <li>Existing IoT ecosystem</li>
                                </ul>
                            </div>

                            <div class="evaluation solution-item">
                                <div class="hexagon">
                                    <div class="svg-icon svg-ico-evaluation"></div>
                                </div>
                                <h3>Evaluation</h3>
                                <ul>
                                    <li>Risks & technical constraints</li>
                                    <li>Integration requirements</li>
                                </ul>
                            </div>

                            <div class="planning solution-item">
                                <div class="hexagon">
                                    <div class="svg-icon svg-ico-planning"></div>
                                </div>
                                <h3>Planning</h3>
                                <ul>
                                    <li>Architecture & technology stack</li>
                                    <li>Implementation roadmap and resources</li>
                                    <li>Scalability supporting business grows</li>
                                    <li>QA & Security compliance from the first phase</li>
                                </ul>
                            </div>

                            <div class="execution solution-item">
                                <div class="hexagon">
                                    <div class="svg-icon svg-ico-execution"></div>
                                </div>
                                <h3>Execution</h3>
                                <ul>
                                    <li>Iterative agile approach, start with multiple scenarios through PoCs</li>
                                    <li>Introducing CI/CD and DevOps culture</li>
                                </ul>
                            </div>

                            <div class="support solution-item">
                                <div class="hexagon">
                                    <div class="svg-icon svg-ico-support"></div>
                                </div>
                                <h3>Support</h3>
                                <ul>
                                    <li>On-going & Production</li>
                                    <li>Various commercial support options</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab">
                    <div class="tab__btn">
                        <h2 class="tab__heading">
                            <span class="svg-icon svg-ico-consulting"></span>
                            Consulting
                            <span class="tab__btn__icon svg-icon svg-ico-arrow-down"></span>
                        </h2>
                    </div>
                    <div class="tab__content">
                        <div class="mobile-heading">
                            <a href="" class="back-arrow">
                                <div class="svg-icon svg-ico-back"></div>
                            </a>
                            <div>
                                Consulting
                            </div>
                        </div>
                        <div class="unordered-list columns-2">
                            <ul>
                                <li>End-to-end Solutions</li>
                                <li>Digital Transformation</li>
                                <li>Legacy Systems Modernization</li>
                                <li>DeviceHive Integration</li>
                                <li>Cloud Solutions</li>
                                <li>Machine Learning</li>
                                <li>Data Management / Big Data</li>
                                <li>Security</li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="tab">
                    <div class="tab__btn">
                        <h2 class="tab__heading">
                            <span class="svg-icon svg-ico-device"></span>
                            Device Enablement
                            <span class="tab__btn__icon svg-icon svg-ico-arrow-down"></span>
                        </h2>
                    </div>
                    <div class="tab__content">
                        <div class="mobile-heading">
                        <div>
                            <a href="" class="back-arrow">
                                <div class="svg-icon svg-ico-back"></div>
                            </a>
                            <div>
                                Device Enablement
                            </div>
                        </div>
                        </div>
                        <p>Modernizing legacy devices and adding new services.</p>
                        <div class="columns-3 unordered-list">
                            <div>
                                <h3>Firmware</h3>
                                <ul>
                                    <li>Sensors support</li>
                                    <li>Adding new features</li>
                                    <li>OTA Updates</li>
                                </ul>
                            </div>

                            <div>
                                <h3>Connectivity</h3>
                                <ul>
                                    <li>With devices and clouds</li>
                                    <li>Remote control & monitoring</li>
                                </ul>
                            </div>

                            <div>
                                <h3>Integration</h3>
                                <ul>
                                    <li>Data insights</li>
                                    <li>Predictive maintenance</li>
                                    <li>3d party services</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab">
                    <div class="tab__btn">
                        <h2 class="tab__heading">
                            <span class="svg-icon svg-ico-fixed"></span>
                            Fixed Cost Proof-of-Concept Projects
                            <span class="tab__btn__icon svg-icon svg-ico-arrow-down"></span>
                        </h2>
                    </div>
                    <div class="tab__content">
                        <div class="mobile-heading">
                            <div>
                                <a href="" class="back-arrow">
                                    <div class="svg-icon svg-ico-back"></div>
                                </a>
                                <div>
                                    Fixed Cost Proof-of-Concept Projects
                                </div>
                            </div>
                        </div>
                        <div class="unordered-list">
                            <ul>
                                <li>Proving your ideas fast</li>
                                <li>Applying cutting edge technology expertise</li>
                                <li>Business goal based approach</li>
                                <li>Control your budget with fixed price approach</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab">
                    <div class="tab__btn">
                        <h2 class="tab__heading">
                            <span class="svg-icon svg-ico-commercial"></span>
                            Commercial Support
                            <span class="tab__btn__icon svg-icon svg-ico-arrow-down"></span>
                        </h2>
                    </div>
                    <div class="tab__content">
                        <div class="mobile-heading">
                            <a href="" class="back-arrow">
                                <div class="svg-icon svg-ico-back"></div>
                            </a>
                            <div>
                                Commercial Support
                            </div>
                        </div>
                        <div class="support-table unordered-list">
                            <p><strong>DeviceHive as a Service</strong></p>
                            <ul>
                                <li>Pricing per Messages</li>
                            </ul>
                            <p><strong>Cloud / On-Premises Deployment and Configuration</strong></p>
                            <table>
                                <thead>
                                <tr>
                                    <th></th>
                                    {{ range .Site.Data.commercial }}
                                    <th>
                                        <div class="col-title">{{ .name }}</div>
                                        <span>{{ .price }}</span>
                                    </th>
                                    {{end}}
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="unordered-list">
                                    <td>DeviceHive consulting</td>
                                    {{ range .Site.Data.commercial}}
                                    {{ $description := .description }}
                                    {{ range $description }}
                                    <td>
                                        <ul>
                                            {{ range $index, $element := .consulting}}
                                            <li>{{ $element | safeHTML }}</li>
                                            {{ end }}
                                        </ul>
                                    </td>
                                    {{end}}
                                    {{end}}
                                </tr>
                                <tr>
                                    <td>Maintenance</td>
                                    {{ range .Site.Data.commercial}}
                                    {{ $description := .description }}
                                    {{ range $description }}
                                    <td>
                                        {{ range $index, $element := .maintenance}}
                                        <div>{{ $element | safeHTML}}</div>
                                        {{ end }}
                                    </td>
                                    {{end}}
                                    {{end}}
                                </tr>
                                <tr>
                                    <td>Response time</td>
                                    {{ range .Site.Data.commercial}}
                                    {{ $description := .description }}
                                    {{ range $description }}
                                    <td>
                                        {{ range $index, $element := .responseTime}}
                                        <div>{{ $element | safeHTML}}</div>
                                        {{ end }}
                                    </td>
                                    {{end}}
                                    {{end}}
                                </tr>
                                <tr>
                                    <td>New releases</td>
                                    {{ range .Site.Data.commercial}}
                                    {{ $description := .description }}
                                    {{ range $description }}
                                    <td>
                                        {{ range $index, $element := .releases}}
                                        <div>{{ $element | safeHTML }}</div>
                                        {{ end }}
                                    </td>
                                    {{end}}
                                    {{end}}
                                </tr>
                                </tbody>
                            </table>

                            <div class="mobile-table">
                                {{ range .Site.Data.commercial }}
                                <div class="table-item">
                                    <div class="tier-title">
                                        <div class="col-title">{{ .name }}</div>
                                        <span>{{ .price }}</span>
                                    </div>
                                    <div class="description consulting unordered-list">
                                        <div class="titl">DeviceHive consulting:</div>
                                        {{ $description := .description }}
                                        {{ range $description }}
                                        <div class="listing">
                                            <ul>
                                                {{ range $index, $element := .consulting}}
                                                <li>{{ $element | safeHTML}}</li>
                                                {{ end }}
                                            </ul>
                                        </div>
                                        {{end}}
                                    </div>
                                    <div class="description maintenance">
                                        <div class="titl">Maintenance: </div>
                                        {{ $description := .description }}
                                        {{ range $description }}
                                        <div class="listing">
                                            {{ range $index, $element := .maintenance}}
                                            <div>{{ $element | safeHTML}}</div>
                                            {{ end }}
                                        </div>
                                        {{end}}
                                    </div>
                                    <div class="description response-time">
                                        <div class="titl">Response time: </div>
                                        {{ $description := .description }}
                                        {{ range $description }}
                                        <div class="listing">
                                            {{ range $index, $element := .responseTime}}
                                            <div>{{ $element | safeHTML}}</div>
                                            {{ end }}
                                        </div>
                                        {{end}}
                                    </div>
                                    <div class="description relesaes">
                                        <div class="titl">New releases: </div>
                                        {{ $description := .description }}
                                        {{ range $description }}
                                            <div class="listing">
                                                {{ range $index, $element := .releases}}
                                                <div>{{ $element | safeHTML }}</div>
                                                {{ end }}
                                            </div>
                                        {{end}}
                                    </div>
                                </div>
                                {{end}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ partial "footer" . }}

</div>

{{ end }}

